[submodule "submodules/drogon"]
	path = submodules/drogon
	url = https://github.com/drogonframework/drogon.git
	branch = master
[submodule "submodules/tclap"]
	path = submodules/tclap
	url = https://git.code.sf.net/p/tclap/code
	branch = 1.4
