@charset "UTF-8";

:root {
  --white: #ffffff;
  --black: #000000;
  --dark: #363636;
  --gray: #6c757d;
  --gray-dark: #343a40;

  --white-rgb: 255, 255, 255;
  --black-rgb:   0,   0,   0;
  --dark-rgb: 54, 54, 54;
  --gray-rgb: 108, 117, 125;
  --gray-light-rgb: 200, 200, 200;
  --gray-dark-rgb: 52, 58, 64;

  --primary: #1abc9c;
  --secondary: #2c3e50;
  --tertiary: #dcdcdc;

  --primary-rgb: 26, 188, 156;
  --secondary-rgb: 44, 62, 80;
  --tertiary-rgb: 220, 220, 220;

  --default-margin:  5px;
  --default-padding: 10px;

  --icon-offset: 15px;

  --default-border-radius: 5px;
}

html {
}

body {
  
  width: 100%;
  height: calc(100vh);
}

.bg-white {
  --bg-opacity: 1;
  background-color: rgba(var(--white-rgb), var(--bg-opacity)) !important;
}

.bg-dark {
  --bg-opacity: 1;
  background-color: rgba(var(--dark-rgb), var(--bg-opacity)) !important;
}

.bg-dark-grey {
  --bg-opacity: 1;
  background-color: rgba(var(--gray-dark-rgb), var(--bg-opacity)) !important;
}

.bg-primary {
  --bg-opacity: 1;
  background-color: rgba(var(--primary-rgb), var(--bg-opacity)) !important;
}

.bg-secondary {
  --bg-opacity: 1;
  background-color: rgba(var(--secondary-rgb), var(--bg-opacity)) !important;
}

.bg-tertiary {
  --bg-opacity: 1;
  background-color: rgba(var(--tertiary-rgb), var(--bg-opacity)) !important;
}

.fg-primary {
  --text-opacity: 1;
  color: rgba(var(--gray-dark-rgb), var(--bg-opacity)) !important;
}

.fg-secondary {
  --text-opacity: 1;
  color: rgba(var(--primary-rgb), var(--bg-opacity)) !important;
}

.fg-tertiary {
  --text-opacity: 1;
  color: rgba(var(--black-rgb), var(--bg-opacity)) !important;
}

.gaia-footer {
  position: fixed;
  bottom:0;
  height: 50px;
  width: 100%;
  padding: 15px;
}

.top-margin {
  margin-top: var(--default-margin);
}  

.bottom-margin {
  margin-bottom: var(--default-margin);
}  

.left-margin {
  margin-left: var(--default-margin);
}  

.right-margin {
  margin-right: var(--default-margin);
}

.padding .padding-1x {
  padding: var(--default-padding);
}

.padding-2x {
  padding: calc( var(--default-padding) * 2 );
}

.padding-3x {
  padding: calc( var(--default-padding) * 3 );
}

.rounded-borders {
  border-radius: var(--default-border-radius); 
}

.solid-border {
  border: 1px solid var(--gray-dark);
}

.dashed-border {
  border: 1px dashed var(--gray-dark);
}

.custom-font0-0 {
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  font-size: 0.8rem;        
}

.custom-font0-1 {
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  font-size: 1.1rem;        
}

.custom-font0-2 {
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;        
}

.custom-font0-4 {
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;        
}

.custom-font0-5 {
  font-family: 'Dosis', sans-serif;
  font-weight: 800;
  font-size: 2.0rem;        
}

.custom-font0-10 {
  font-family: 'Dosis', sans-serif;
  font-weight: 800;
  font-size: 3.0rem;        
}

.tooltip {
  position: relative;
}

.tooltip .tooltip-text {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 1.0rem;

  visibility: hidden;
  width: 200px;
  background-color: var(--gray-dark);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -180px;
  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}